body {
  font-size: 14px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.header {
  width: 100%;
  box-sizing: border-box;
  padding: 0px 20px 0px 10px;
  height: 60px;
  border-bottom: 1px solid #ddd;
}
.logo {
  width: 180px;
  margin-top: 5px;
}
.layout {
  display: inline-block;
  color: #aaa;
  line-height: 60px;
  float: right;
}
.layout:hover {
  text-decoration: underline;
}
.menu {
  float: left;
  width: 200px;
  border-right: 1px solid #ddd;
}
.menu-list li {
  display: inline-block;
  width: 200px;
  text-align: center;
  height: 50px;
  line-height: 50px;
  color: #aaa;
}
.menu-title {
  color: #40a9ff;
}
.menu-title:hover {
  text-decoration: underline;
}
.content-wrapper {
  padding-left: 251px;
  padding: 10px 50px 50px 251px;
  box-sizing: border-box;
}
.table {
  width: 100%;
  text-align: left;
}
.table-thead {
  line-height: 1.5;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
  font-weight: 500;
}
.table-thead th {
  padding: 16px;
}
.tbody-tr {
  border-bottom: 1px solid #ddd;
  transition: all 0.3s;
  color: rgba(0,0,0,.65);
  line-height: 1.5;
}
.tbody-tr:hover {
  background: #e6f7ff;
}
.tbody-tr td {
  padding: 16px;
}
.tbody-tr td a {
  margin-right: 10px;
}
.content-header {
  padding: 20px 0px;
  height: 32px;
}
.content-header button {
  float: right;
  line-height: 1.5;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  height: 32px;
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  outline: none;
}
.content-header button:hover {
  background-color: #40a9ff;
  border-color: #40a9ff
}
