{% extends "layout.html" %}

{% block header %}
  <button class="add-type">新增</button>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="table-thead">
      <tr>
        <th>id</th>
        <th>类别名称</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody class="table-tbody">
      {% for type in types %}
        <tr class="tbody-tr" data-id={{type.id}}>
          <td>{{type.id}}</td>
          <td class="name">{{type.name}}</td>
          <td>
            <a data-index={{type.id}} class="delete">删除</a>
            <a data-index={{type.id}} class="edit">编辑</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ url_for('static', filename = 'type/index.js') }}"></script>
{% endblock %}
